---
import GameCard from "../components/GameCard.astro";
import Layout from "../layouts/Layout.astro";
import { getPageInfo, getPosts } from "../lib/wp";

const { title, content, seo } = await getPageInfo("bienvenidos-a-gametorr");
const posts = await getPosts({ postType: "posts", posts_per_page: 10 });
---

<Layout title={title} description={seo.description}>
  <section>
    <div class="container mx-auto text-center">
      <h1 class="font-bold text-4xl mb-5">{title}</h1>
      <div set:html={content} />
    </div>
  </section>
  <section class="pb-30">
    <div class="container mx-auto">
      <h2 class="font-bold text-4xl">Artículos de wordpress</h2>
      <div class="flex flex-col lg:flex-row justify-between gap-6 mt-5">
        {
          posts.map((post) => (
            <GameCard
              title={post.title}
              excerpt={post.excerpt}
              feacturedImage={post.feacturedImage}
              content={post.content}
              date={post.date}
              slug={post.slug}
            />
          ))
        }
      </div>
    </div>
  </section>
  ;
</Layout>
